.footer {
    background-color: #072338;
    height: 36px;
    &__wrapper {
        background-color: #072338;
        display: flex;
        justify-content: space-between;
    }

    &__end {
        width: 368px;
        display: flex;
        justify-content: space-between;
    }

    p {
      
        width: 312px;
        // padding-top: 7px;
        color: white;
        font-family: 'Open Sans';
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;


    }

    a {
        margin-top: 7px;
        // padding-top: 7px;
        color: white;
        font-family: 'Open Sans';
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
    }
}